[Unit]
Description=NXTMinutes Application
Documentation=https://github.com/flacoonb/NXTminutes
After=network.target mongodb.service

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/nxtminutes
Environment=NODE_ENV=production
Environment=PORT=3000
Environment=HOSTNAME=0.0.0.0
ExecStart=/home/pi/nxtminutes/node_modules/.bin/next start
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGINT
TimeoutStartSec=10
TimeoutStopSec=10
PrivateTmp=true
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=nxtminutes

[Install]
WantedBy=multi-user.target
